/* CSS ABOUT STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown (main) -    #8B3E46;
Dark brown   -    #532227;
Light brown  -    #FF9B6E;
Light grey   -    #E9E9E9;
Grey         -    #6A6A6A;

-------------------------------------- */

.about{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
}



/* IMAGES ---------------------------- */
.about-img{
    width: 100%;
}
