/* CSS ABOUT STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown (main) -    #8B3E46;
Dark brown   -    #532227;
Light brown  -    #FF9B6E;
Light grey   -    #E9E9E9;
Grey         -    #6A6A6A;

-------------------------------------- */





/* IMAGES ---------------------------- */



.main__section__block--how-img{
    background: url("../images/how-we-make-them.jpg");
    width: 100%;
    height: 600px;
    background-position: 50% 20%;
}

.main__section__block--story-img{
    background: url("../images//our-story.jpg");
    width: 100%;
    height: 600px;
    background-position: 50% 20%;
}

.main__section__block--values-img{
    background: url("../images/our-values.jpg");
    width: 100%;
    height: 600px;
    background-position: 50% 20%;
}