/* Header: ---------------------------------- */
.header--contact{
    background: linear-gradient(150deg, #FF9B6E, rgb(180, 80, 90), #53224c);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__h1{
    margin: 0;
    padding: 45px 0;
    color: #fff;
    /* background: rgba(255, 255, 255, 0.6); */
    width: 100%;
}
/* ------------------------------------------ */


/* main: ------------------------------------ */
.main--contact{
    display: grid;
}
/* ------------------------------------------ */


/* FORM: ------------------------------------ */
.form{
    display: grid;
    /* background: #fff; */
    box-sizing: border-box;
}
/* ------------------------------------------ */


/* FORM: HEADLINE --------------------------- */
.form__h2{
    grid-area: headline;
    text-align: start;
    background-color: #FF9B6E;  
    padding: 20px;
}
/* ------------------------------------------ */


/* FORM: SECTION ---------------------------- */
.form__section--firstName{
    grid-area: firstName;
}

.form__section--lastName{
    grid-area: lastName;
}

.form__section--email{
    grid-area: email;
}

.form__section--topic{
    grid-area: topic;
}

.form__section--message{
    grid-area: message;
}

.form__section--btn{
    grid-area: btn;
}

.form_section--feedback{
    grid-area: feedback;
}
/* ------------------------------------------ */


/* FORM: H5 --------------------------------- */
.form__section__h5{
    padding-bottom: 5px;
    font-size: 16px;
}
/* ------------------------------------------ */


/* FORM: INPUT ------------------------------ */
.form__section__block__textarea,
.form__section__block__input{
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    margin-bottom: 15px;
}

.form__section__block__textarea{
    height: 150px;
}

.form__section__block__input{
    height: 60px;
}

.form__section__block__textarea:focus,
.form__section__block__input:focus{
    outline: 2px solid #FF9B6E;
}
/* ------------------------------------------ */


/* FORM: ERROR ------------------------------ */
.error,
.form__section__block__icon,
.errorIconMessage,
.form_section--feedback,
#firstNameErrorIcon,
#lastNameErrorIcon,
#emailErrorIcon,
#topicErrorIcon,
#messageErrorIcon{
    display: none;
}

.form__section__block__icon,
.form__section__block__icon--message,
.error{
    color: rgb(192, 0, 0);
}

.form__section__block__icon{
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translate(-5px,-50%);
    transform: translate(-5px,-50%);
}

.form__section__block__icon--message{
    text-align: center;
    position: absolute;
    top: 18px;
    right: 10px;
}
/* ------------------------------------------ */


/* FORM: BUTTON ----------------------------- */
.form__section--btn{
    text-align: center;
}
/* ------------------------------------------ */


/* INFO: ------------------------------------ */
.main__section__h3{
    padding-top: 40px;
    border-bottom: 2px solid #FF9B6E;
}

.main__section__p{
    padding-top: 8px;
}


/* FORM: FEEDBACK MESSAGE ------------------- */
.form_section--feedback{
    text-align: center;
    font-size: 18px;
    border: 3px solid rgb(253, 154, 108);
    background: rgb(255, 195, 167);
    padding: 20px 10px;
}

.form_section--feedback p:nth-child(1){
    padding-bottom: 20px;
}
/* ------------------------------------------ */


/* RESPONSIVE: ------------------------------ */
/* Mobile: */
@media screen and (max-width: 650px) {
    .main--contact{
        grid-template-columns: 1fr;
        grid-gap: 70px;
        padding: 0 10px;
        margin: 20px 0;
    }

    .form{
        grid-template-areas:
            'headline'
            'firstName'
            'lastName'
            'email'
            'topic'
            'message'
            'btn'
            'feedback'
        ;
        grid-gap: 20px;
        grid-template-columns: 100%;
    }
} 

/* Tablet: */
@media screen and (min-width: 651px) and (max-width: 1025px){
    .main--contact{
        grid-template-columns: 1fr;
        grid-gap: 70px;
        padding: 0 20px;
        margin: 30px 0;
    }

    .form{
        grid-template-areas:
            'headline headline'
            'firstName lastName'
            'email topic'
            'message message'
            'btn btn'
            'feedback feedback'
        ;
        grid-gap: 30px;
        grid-template-columns: 48% 48%;
    }
}

/* Laptop: */
@media screen and (min-width: 1026px) and (max-width: 1600px) {
    .main--contact{
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
        padding: 0 30px;
        margin: 40px auto;
        max-width: 1300px;
    }

    .form{
        grid-template-areas:
            'headline   headline'
            'firstName  lastName'
            'email      topic'
            'message    message'
            'btn        btn'
            'feedback   feedback'
        ;
        grid-gap: 30px;
        grid-template-columns: 48% 48%;
    }
}

/* Desktop: */
@media screen and (min-width: 1601px){
    .main--contact{
        grid-template-columns: 2fr 1fr;
        grid-gap: 80px;
        padding: 0 30px;
        margin: 40px auto;
        max-width: 1300px;
    }

    .form{
        grid-template-areas:
            'headline headline'
            'firstName lastName'
            'email topic'
            'message message'
            'btn btn'
            'feedback feedback'
        ;
        grid-gap: 30px;
        grid-template-columns: 48% 48%;
    }
}