/* CSS HOME PAGE STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown (main) -    #8B3E46;
Dark brown   -    #532227;
Light brown  -    #FF9B6E;
Light grey   -    #E9E9E9;
Grey         -    #6A6A6A;

--------------------------------------*/


/* HEADER ---------------------------------- */
.home-banner {
  min-height: calc(100vh - 60px);
  background: url("../images/header-home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 3rem;
}

/* End of Header --------------------------- */