/* CSS MASTER STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown (main) -    #8B3E46;
Dark brown   -    #532227;
Light brown  -    #FF9B6E;
Light grey   -    #E9E9E9;
Grey         -    #6A6A6A;

--------------------------------------

TYPOGRAPHY:
Headline
font-family: 'Raleway', sans-serif;

Sub-headline
font-family: 'Montserrat', sans-serif;

Body 
font-family: 'Montserrat', sans-serif;

--------------------------------------*/
/* Fonts: */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500&display=swap');

/* CSS */
@import url('contact-form.css');

@import url('nav.css');
@import url('footer.css');
@import url('contact.css');
@import url('home.css');
@import url('shoes.css');
@import url('details.css');
@import url('cart.css');
@import url('stores.css');
@import url('about.css');
/* ------------------------------------------ */


/* DEFAULT STYLES: -------------------------- */
html, body,
nav, footer, main, header,
section, div, article,
h1, h2, h3, h4, h5, h6,
p, a, button, span, i, iframe, input,
label, img, form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html, body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 246, 241);
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);  
}
/* ------------------------------------------ */


/* LINKS: ----------------------------------- */
.link{
    text-decoration: underline;
    color: #FF9B6E;  
}

.link:hover{
    text-decoration: none;
}
/* ------------------------------------------ */


/* FONT STYLES: ----------------------------- */
.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

.italic{
    font-style: italic;
}
/* ------------------------------------------ */



/* HEADER: ---------------------------------- */
.header{
    text-align: center;
    padding: 3em 0em;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.1rem;
}
/* ------------------------------------------ */


/* BUTTON ----------------------------------- */
.btn{
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background: #8B3E46;
  color: #FFF;
  border: 1px solid #8B3E46;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color:  #8B3E46;
}
/* ------------------------------------------ */



/* RESPONSIVE: ------------------------------ */
/* Mobile: */
@media screen and (max-width: 480px) {
    h1{
        font-size: 34px;
        text-align: center;
        padding: 10px;
    }
} 

/* Tablet: */
@media screen and (min-width: 481px) and (max-width: 1025px){
    h1{
        font-size: 40px;
        text-align: center;
    }

}

/* Laptop: */
@media screen and (min-width: 1026px) and (max-width: 1600px) {
    h1{
        font-size: 45px;
        text-align: center;
    }
}

/* Desktop: */
@media screen and (min-width: 1601px){
    h1{
        font-size: 50px;
        text-align: center;
    }
    
}