/* CSS SHOES PAGE STYLE SHEET:
-------------------------------------- 

COLOUR PALETTE:
Brown (main) -    #8B3E46;
Dark brown   -    #532227;
Light brown  -    #FF9B6E;
Light grey   -    #E9E9E9;
Grey         -    #6A6A6A;

--------------------------------------*/

/* --------------- Products ---------------- */

.products{
  margin: 100px 20px;
  padding: 50px 0;
  border-top: 2px solid #8B3E46;
  border-bottom: 2px solid #8B3E46;
}

.products a{
  color: black;
  text-decoration: none;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.product{
  background: #FFF;
  padding: 0 20px 20px 20px;
}

.gg{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* transition: .3s ease-in-out; */
  margin: 2px;
}

.gg:hover{
  border: 2px solid #8B3E46;
  margin: 0px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #8B3E46;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}


.fa-shopping-cart {
  margin-right: 0.5rem;
}

/* .img-container:hover .bag-btn {
  transform: translateX(0);
} */

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
}

.fa-star,
.fa-star-half-alt{
  color: rgb(247, 173, 14);
}

.article__block--icons{
  text-align: center;
  padding: 10px 0;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: #8B3E46;
  text-align: center;
}

/* ---------------End of Products ---------------- */
